body {
  box-sizing: border-box;
}
.header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #fff;
  justify-content: space-around;
}
.text_box {
  flex-direction: column;
  display: flex;
  flex-flow: row;
  text-align: center;
  margin-top: 24px;
  /* margin-bottom: 24px; */
  font-family: Poppins;
  font-style: 14px;
  font-weight: 400;
  line-height: normal;
}
.text_one {
  display: inline-block;
  margin-right: 103px;
  outline: none;
  text-decoration: none;
  color: #000;

  /* links-menu */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_two {
  margin-right: 107px;
  outline: none;
  text-decoration: none;
  color: #000;

  /* links-menu */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text_three {
  text-decoration: none;
  color: #000;

  /* links-menu */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title {
  display: inline-block;
  margin-top: 18px;
  /* margin-bottom: 20px; */
  margin-left: 120px;
}
.link {
  display: flex;
  align-items: center;
  margin-left: 114px;
}
.instagram_link {
  flex-wrap: nowrap;
  flex-flow: row;
  margin-right: 20px;
}

.slogan {
  height: 460px;
  background: var(--Roxo-escuro, #2b0955);
}
.slogan_promo {
  display: block;
  color: var(--Branco, #fff);
  font-family: Poppins;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 137.5%;
  padding-top: 20px;
  margin-left: 244px;
}
.slogan_text {
  color: var(--Branco, #fff);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-left: 243px;
  margin-top: 11px;
}
.slogan_text b {
  color: #fbc508;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.36px;
}
.simple-radial {
  position: relative;
  width: 317px;
  height: 317px;
  border-radius: 317px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  filter: blur(100px);
  margin-top: -325px;
  margin-left: 952px;
}
.rectangle {
  width: 152.404px;
  height: 215.651px;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174aff 100%);
  filter: blur(100px);
  margin-top: -215px;
  margin-left: 1052px;
}
.slogan_img {
  position: relative;
  margin-top: -395px;
  margin-left: 796px;
  width: 599px;
  height: 559px;
  flex-shrink: 0;
}
.slogan_img_2 {
  position: relative;
  margin-top: -500px;
  margin-left: 890px;
}
.slogan_btn1 {
  position: absolute;
  margin-top: 220px;
  margin-left: 244px;
}
.button_sl_1 {
  width: 186px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--amarelo, #fbc508);
  text-align: center;
  padding-top: 5px;
  color: var(--Roxo-escuro, #2b0955);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
.button_sl_1:hover {
  background-color: darkorange;
  transition: 0.7s;
}
.slogan_btn2 {
  position: absolute;
  margin-top: 220px;
  margin-left: 446px;
}
.button_sl_2 {
  width: 200px;
  height: 46px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding-top: 5px;
  border: 1px solid #fff;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.button_sl_2:hover {
  background-color: darkorange;
  transition: 0.7s;
}

.ben_title {
  color: var(--Roxo-escuro, #2b0955);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.48px;
  margin-top: 120px;
}
.ben_stick {
  display: block;
  width: 97px;
  height: 3px;
  background: #fbc508;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}
.ben_text {
  color: var(--Cinza-escuro, #363636);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  margin-top: 16px;
}
.ben_menu {
  width: 959px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 22px;
}
.section_one_name {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.section_two_name {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -25px;
}
.section_three_name {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: -10px;
}
.section_one_text {
  color: var(--Cinza-escuro, #363636);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.section_two_text {
  color: var(--Cinza-escuro, #363636);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.section_three_text {
  color: var(--Cinza-escuro, #363636);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}
.section_one_btn {
  text-align: right;
}
.section_two_btn {
  text-align: right;
}
.section_three_btn {
  text-align: right;
}
.section_btn {
  border: none;

  color: #fff;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 100%;
  background-color: #7000ff;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.section_btn:hover {
  background-color: darkorange;
  transition: 0.7s;
}
.section_two img {
  margin-top: -70px;
}
.simples {
  display: block;

  width: 1364px;
  text-align: center;
  padding-top: 142px;
}
.contecomagente {
  color: var(--Roxo, #7000ff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: -600px;
}
.simples_promo {
  color: var(--Roxo-escuro, #2b0955);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
  margin-top: -40px;
  text-align: left;
  margin-left: 300px;
}
.simples_text {
  color: var(--Cinza-escuro, #363636);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
  text-align: left;
  margin-left: 300px;
  margin-top: -40px;
}
.simples_text b {
  color: var(--Roxo, #7000ff);
  font-weight: 700;
}
.simples_btn {
  width: 186px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--amarelo, #fbc508);
  text-align: center;
  padding-top: 5px;
  color: var(--Roxo-escuro, #2b0955);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  margin-top: 20px;
  margin-left: -580px;
}
.simples_btn:hover {
  background-color: darkorange;
  transition: 0.7s;
}
.simples_men {
  position: relative;
  margin-left: 400px;
  margin-top: -300px;
}
.simples_burger1 {
  position: relative;
  margin-top: -390px;
  margin-left: 190px;
}
.simples_gradient {
  position: relative;
  width: 147px;
  height: 209px;
  flex-shrink: 0;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174aff 100%);
  filter: blur(100px);
  margin-left: 870px;
  margin-top: -200px;
}
.simples_gradient2 {
  position: relative;
  width: 307px;
  height: 307px;
  flex-shrink: 0;
  border-radius: 307px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, #ff29c3 100%);
  filter: blur(100px);
  margin-left: 840px;
  margin-top: -320px;
}
.simples_burger2 {
  margin-left: 880px;
  margin-top: -150px;
}
.simples_burger3 {
  margin-left: 1050px;
}
.simples_burger4 {
  margin-left: 1150px;
  margin-top: -390px;
}
.ainda{
  display: block;
  background: #F8F6FA;
}
.ainda_img img{
margin-top: 180px;
margin-left: 680px;

}
.ainda_promo{
  text-align: center;
  color: var(--Roxo-escuro, #2B0955);
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.48px;
}
.ainda_stick{
  width: 97px;
height: 3px;
background: #FBC508;
margin-left: auto;
margin-right: auto;
}
.ainda_chapter{
  margin-top: 76px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.ainda_chapter_one{
  margin-left: 300px;
}
.ainda_chapter_two{
  margin-right: 260px;

}
.ainda_text{
  margin-top: 80px;
  color: var(--Cinza-escuro, #363636);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.32px;
}
.ainda_email{
  font-weight: 600;
  text-decoration-line: underline;
}
.ainda_rapido{
  color: var(--Roxo, #7000FF);
font-weight: 700;

}
.ainda_link_whatsapp{
  margin-top: 60px;
}
.whatsapp-icon{
  margin-right: 20px;
}
.whatsapp-icon{
  color: var(--Roxo-escuro, #2B0955);
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.32px;
text-decoration-line: underline;
}
.input_name{
  color: var(--Roxo, #7000FF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.input_telefone{
  color: var(--Roxo, #7000FF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.input_email{
  color: var(--Roxo, #7000FF);
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.input_net{
  width: 400px;
height: 40px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--Roxo-claro, #AE97CB);
background: #FFF;
color: #656565;

font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ainda_chapter_two_btn{
  text-align: right;
  margin-bottom: 36px;
}
.ainda_chapter_two input{
  padding: 0 10px;
}
.footer{
  background: var(--Roxo-escuro, #2B0955);
   width: 100%;
}
.footer_top{
 
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.footer_logo{
margin-left: 60px;
margin-top: -10px;
}
.footer_logo .logo_text{
  display: inline-block;
  color: #FFF;
font-family: Poppins;
font-size: 40.632px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.footer_link_text{
  display: flex;
  align-items: center;
  margin-left: 550px;
  


}
.footer_link_text .text_one{
  color: #FFF;

/* links-menu */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.footer_link_text .text_two{
  color: #FFF;
}
.footer_link_text .text_three{
  color: #FFF;
}
.footer_link_logo{
  display: inline-flex;
  margin-right: 20px;
  margin-left: 200px;
  margin-top: 35px;
}
.footer_down{
  display: flex;
  width: 100%;
}

.footer_down_text a{
  position: relative;
outline: none;
  text-decoration: none;
  /* links-menu */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 130px;
color: #FFF;
margin-right: 30px;
margin-top: 20px;
text-align: center;

}
.footer_down_text_pla{
  color: #FFF;

/* links-menu */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 0 5px;
width: 243px;
height: 45px;
flex-shrink: 0;
border-radius: 6px 0px 0px 6px;
border: 1px solid #FFF;
background-color: rgba(0, 0, 0, 0);
}
.footer_down_text_btn{
  width: 122px;
height: 45px;
flex-shrink: 0;
border-radius: 0px 6px 6px 0px;
background: var(--Linha-assunto-dark-mode, #FFF);
color: var(--Roxo-escuro, #2B0955);

/* links-menu */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
}
.footer_down_stick{
  position: relative;
  width: 1197px;
height: 1px;
background: #AE97CB;
margin-top: 100px;
margin-left: -500px;
}
.footer_down_stick_2{
  position: relative;
  margin-top: 110px;
  text-align: center;
  color: #FFF;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: -700px;
margin-bottom: 30px;
}

.footer_down_text_btn:hover {
  background-color: darkorange;
  transition: 0.7s;
}